

     <div class="col dailyspecialheader mr-5" id="">
         <div class="col">
             <h1 class=""><span class="secondarycolor "><em>Introducing:</em></span></h1> <br> 
         </div>
         <div class="col">
             <h2 class="text-center"> The NEW ASUS ROG STRIX AMD Motherboard</h2>
         </div>
         <div class="col my-5">
             <h4>Built with you in mind! This packs more features than you could imagine in one place</h4>
         </div>
         <div class="col mt-5 align-text-bottom">
             <p>MegaMicro's Promise...Lowest Price Guarantee!!</p>
         </div>
     </div>
    <div class="col" id="">
        <img src="/images/AsusMB_0.png" class="mt-5" alt="Daily Special Image" style="width:350px;height:350px;">
    </div>
