<div class="d-flex justify-content-between filternav darkcolor align-items-center">
    <div class="darkcolor mr-5 flex-grow-1">
        <a href="CPUs"><h3>CPUs</h3></a>
    </div>
    <div class="darkcolor mr-5 flex-grow-1">
        <a href="Motherboards"><h3>Motherboards</h3></a>
    </div>
    <div class="darkcolor mr-5 flex-grow-1">
        <a href="GPUs"><h3>GPUs</h3></a>
    </div>
    <div class="darkcolor mr-5 flex-grow-1">
        <a href="RAM"><h3>RAM</h3></a>
    </div>
    <div class="darkcolor mr-5 flex-grow-1">
        <a href="PowerSupplies"><h3>Power Supplies</h3></a>
    </div>
</div>