
<div class="d-flex-row">
    
    <div class="row">
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="col">
            <img src="/images/TechPlaceHolder.png" class="mt-5" alt="Daily Special Image" style="width:200px;height:200px;">
        </div>
        <div class="row">
                <h4>Catch these deals before they're gone!</h4>
                <p>MegaMicro's Promise</p>
                <p>Lowest Price Guarantee!!</p>
        </div>
    </div>
</div>
