<h1>ABOUT MegaMicro</h1>

Here is all the information that you could have ever wanted to know about MegaMicro!
<ul>
    <li>there is no information available</li>
    <li>there is may never be information available</li>
    <li>there is no purpose for information to be available</li>
    <li>there is no product information available</li>
    <li>there is no privacy information available</li>
</ul>