
<h1 class="darkcolor">Careers</h1>

<div class="row justify-content-center">
    <div class="tenor-gif-embed " data-postid="4970304" data-share-method="host" data-aspect-ratio="0.787097" data-width="25%"><a href="https://tenor.com/view/the-weeknd-why-are-you-here-who-are-you-confused-who-gif-4970304">The Weeknd Why Are You Here GIF</a>from <a href="https://tenor.com/search/the+weeknd-gifs">The Weeknd GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
<div class="text-center mt-5 darkcolor">
    <h3>If you're here looking for a job?</h3>
</div>

<div class="text-center darkcolor">Then I'm confused, because so am I. That's the reason I made this site.</div>