
    <div class="">
        <h1 class="darkcolor text-decoration-underline">Locations</h1>
    </div>
<div class="text-light mt-5">
    <h3>This is a list of our current Locations as of fiscal Year '00</h3>
    
    <p class="fst-italic"> Hint: There aren't any. But I'll make some up for you to to feel special</p>
</div>

<table class="table table-dark-hover mt-5 rounded" >
    <tr id="locationtable">
        <th><strong>STATE</strong></th>
        <th><strong>CITY</strong></th>
        <th><strong>ADDRESS</strong></th>
        <th><strong>CONTACTS</strong></th>
        <th><strong>MAP IT!</strong></th>
    </tr>
    <tr class="text-light">
        <td>North Carolina</td>
        <td>Greensboro</td>
        <td>1234 Main St</td>
        <td>999-999-9999</td>
        <td><a href="https://www.google.com/maps/place/E+Main+St,+Greensboro,+NC/@@35.9959157,-79.9244956,17z/data=!3m1!4b1!4m5!3m4!1s0x88530fe3e6ec5835:0x88f2a242ee04149c!8m2!3d35.9959157!4d-79.9223069">Directions</a></td>
    </tr>
    <tr class="text-light">
        <td>Pennsylvania</td>
        <td>King of Prussia</td>
        <td>1578 Kings Way</td>
        <td>888-888-8888</td>
        <td><a href="https://www.google.com/maps/place/King+of+Prussia,+PA/@@40.0947567,-75.3989906,14z/data=!3m1!4b1!4m5!3m4!1s0x89c694352c6e632d:0xfa099731bfc15395!8m2!3d40.1012856!4d-75.3835525">Directions</a></td>
    </tr>
</table>