/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
body {
  background-color: #22252b;
}
#locationtable {
  color:#3dadff;
}
.darkcolor a{
  color:#3dadff;
  font-weight: bold;
}
.secondarycolor {
  color: #ca1c59;
}

.showboxsmall {
  width: 100px;
  height: 100px;
  padding: 5px;
}
.darkcolor{
  color:#3dadff;
  font-weight: bold;
}
.hrline {
  color:#3dadff;
}
/* Provide sufficient contrast against white background */
a {
  color: #0055ff;
}
/* .pagecontainer {
  background-color:#22252b;
} */

#dealinfo {
  border-radius: 20px;
  /* background-color: #0f0f58; */
  color: rgb(231, 230, 230);
  background-image: url('~MegaMicroBG.png');
}
#reglogform {
  border-radius: 20px;
}
.dailyspecialimg {
  max-width: 200px;
  max-height: 200px;
}
.dailyspecialheader {
  color:#3dadff;
}
#sidebarbox {
  max-width: 150px;
  max-height: 150px;
}
.loginform {
  max-width: 200px;
}
.btn-primary {
  color: #fff;
  /* background-color: #1b6ec2;
  border-color: #1861ac; */
}
.contentwrapper {
  /* background-color: rgb(41, 97, 180); */
  min-width: 20vw;
  min-height: 60vh;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
